.footer {
    /* position: absolute;
    display: block;
    bottom: 0; */
    width: 100%;
    height: 3em;
    /* line-height: 3em; */
    background-color: #e3f2fd;
    padding-top: 1em;
    border-top: 4px solid #3F62C7;
}

.entry-img {
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
}

.multi-entry-img {
    max-height: 300px;
}

.single-entry-img {
    max-width: 40%;
}

.entry {
    height: 100%;
    border-radius: 1em;
    -webkit-transition: background-color 0.4s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.4s;
}

.entry:hover {
    background-color: antiquewhite;
    cursor: pointer;
}

.container {
    margin-bottom: 75px;
}

.max-lines {
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  height: 5.4em;
  line-height: 1.8em;
}

#body {
    white-space: pre-wrap;
}
